<section class="section hero">
	<div class="hero__grid">

		<div class="hero__content">

			<h1 class="hero__title">{{ heroTitle }}</h1>
			<h2 class="hero__subtitle">{{ heroSubTitle }}</h2>

			<p>{{ heroIntro }}</p>
			<p>Aenean pulvinar suscipit dolor, vel rhoncus felis consectetur a. Fusce iaculis, mi sit amet consequat luctus, erat odio fringilla sem, non faucibus ante nisi in nibh.</p>
			<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Suspendisse nulla dolor, fermentum sit amet felis eget, fringilla suscipit justo. Nullam aliquam ultricies ultrices.</p>

			<div class="hero__btn-group">
				<a href="#featured-articles" class="btn btn--primary">Featured articles</a>
				<a href="/articles/" class="btn btn--secondary">Most recent articles</a>
			</div>

		</div>

		<div>
			<img src="{{ heroImage }}" alt="{{ heroImageAlt }}" class="hero__image">
		</div>

	</div>
</section>