<footer class="site-footer">
	<div class="container">

		<div class="brand-logo">
			{% include 'logo.njk' %}
		</div>

		<p class="copyright">SpaceM0nk3y® Atomic template<br>©2021 Raphaël Regnier //&nbsp;&nbsp;All rights reserved</p>

	</div>
</footer>