<header class="site-header">
	<div class="container">
		<div class="site-header__content">

			<div class="brand-logo">
				<a class="logo-link" href="/">{% include 'logo.njk' %}</a>
			</div>

			{% include 'primary-nav.njk' %}

		</div>
	</div>
</header>