---
title: SpaceM0nk3y® // ATOMIC TEMPLATE
mainClass: home
description: SpaceM0nk3y is Raphaël Regnier's atomic template for web projects.
layout: 'base.njk'
---

{% include 'block-hero.njk' %}

{% include 'section-featured.njk' %}